.header > h1{
    text-align: center;
    margin-top: 50px;
}

.log_out{
    display: block;
    float: right;
    transform: translateY(-100%);
    border: 1px solid #dee2e6;
    border-bottom: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background-color: rgba(0, 0, 0, 0);
    color: #0d6efd;
}

.main{
    border: 1px solid #dee2e6;
    border-top: 0;
}

a.nav-link:nth-child(2){
    padding: 0;
}

form > h4{
    border-top: 1px solid #dee2e6;
    padding-top: 10px;
    margin-top: 10px;
}

.list_holder{
    width: 100%;
    padding: 20px;
}

.list{
    float: left;
    font-weight: bold;
    background-color:#ffc107;
    color: white;
    padding: 5px;
    margin-right: 5px;
    border-radius: .25rem;
}

.list_title{
    font-size: 20px;
}

form{
    width: 100%;
}

#p_help{
    padding: 10px;
    border: 1px solid #dee2e6;
    width: 40%;
    border-top: 0;
    border-left: 0;
}

.resizable-input {
    /* make resizable */
    overflow-x: hidden;
    resize: horizontal;
    display: inline-block;
}

.edit_wrap{
    margin: 5px;
    padding: 5px;
    border: 1px solid #dee2e6;
}